.city-name,
.current-temperature {
  font-family: "Cormorant SC", serif;
  font-size: 36px;
  font-weight: bold;
}
.celsius a {
  text-decoration: none;
  font-size: 28px;
}
.sky-data {
  position: relative;
  top: 28px;
  text-transform: capitalize;
}
.weather-data {
  text-align: center;
  padding: 15px;
}
.current-weather-data {
  font-family: "Pangolin", cursive;
}
.weather-icon,
.main {
  width: 75px;
}
